#main.ten.columns
  %h2= @client.company_name

  %article
    %header
      %h3= t 'label.record_data'
      = link_to t('label.edit'), edit_client_path(@client), :class => 'button-pill'
  %table.client
    %tr
      %th= t 'simple_form.labels.company_name'
      %td= @client.company_name
    %tr
      %th= t 'simple_form.labels.cnpj'
      %td= @client.cnpj
