= simple_form_for @company do |f|
  = f.input :name
  = f.input :email
  = f.input :company_name
  = f.input :cnpj
  = f.input :phone
  = f.input :fax
  = f.input :msn
  = f.input :skype
  = f.input :street
  = f.input :zip_code
  = f.input :city
  = f.input :state, :collection => states_collection, :prompt => t('label.select')
  = f.button :submit
