#main.ten.columns
  %h2= @company.name

  %article
    %header
      %h3= t 'label.record_data'
      = link_to t('label.edit'), edit_company_path(@company), :class => 'button-pill'

    %table.company
      %tr
        %th= t 'simple_form.labels.company_name'
        %td= @company.company_name
      %tr
        %th= t 'simple_form.labels.cnpj'
        %td= @company.cnpj

    %table.company
      %tr
        %th= t 'simple_form.labels.email'
        %td= @company.email
      %tr
        %th= t 'simple_form.labels.phone'
        %td= @company.phone
      %tr
        %th= t 'simple_form.labels.fax'
        %td= @company.fax
      %tr
        %th= t 'simple_form.labels.msn'
        %td= @company.msn
      %tr
        %th= t 'simple_form.labels.skype'
        %td= @company.skype

    %table.company
      %tr
        %th= t 'simple_form.labels.street'
        %td= @company.street
      %tr
        %th= t 'simple_form.labels.zip_code'
        %td= @company.zip_code
      %tr
        %th= t 'simple_form.labels.city'
        %td= @company.city
      %tr
        %th= t 'simple_form.labels.state'
        %td= @company.state
      %tr
        %th= t 'simple_form.labels.company_name'
        %td= @company.company_name
      %tr
        %th= t 'simple_form.labels.cnpj'
        %td= @company.cnpj
