- title "#{t('activerecord.models.order')} #{@order_item.order.id}: #{t('label.order_item.edit')} #{@order_item.product.code}"
- breadcrumbs.add @order_item.order.id, order_path(@order_item.order), :i18n => false
- breadcrumbs.add 'label.order_item.edit'

#main.ten.columns
  %article
    %header
      %h2= t('label.order_item.edit')
      = button_to t('label.delete'), order_order_item_path(@order_item.order, @order_item), :method => :delete, :confirm => t('label.confirm_delete'), :class => 'button-delete-pill'

    = render 'form'

