- title t('label.dashboard')

#main.ten.columns.alpha
  %h2= t 'label.dashboard'
  %article
    %header
      %h3= t 'label.activity.recent'

    - unless @activities.empty?
      %table.activities
        - @activities.each do |activity|
          %tr
            %th= datetime_label activity.created_at
            %td= activity_description activity
    - else
      %p= no_records_found

#sidebar.six.columns.omega
  %section
    %header
      %h3= t 'label.order.pending'
      = link_to t('label.add'), new_order_path, :class => 'button-pill'

    = render 'orders/list', :orders => @pending_orders
