#header-bg
  .container
    #header.sixteen.columns.alpha.omega
      %header
        .twelve.columns.alpha.omega
          %nav
            %ul
              %li= link_to_current t('label.dashboard'), root_path
              %li= link_to_current t('label.company.plural'), companies_path
              %li= link_to_current t('label.order.plural'), date_orders_path(today)
              %li= link_to 'Assistências', '#assistencias'
              %li= link_to_current t('label.client.plural'), clients_path
              %li= link_to_current t('label.product.plural'), products_path
        #search.four.columns.alpha.omega
          = form_tag search_path, :method => :get do
            = search_field_tag 'q', nil, :placeholder => t('label.search')
            = submit_tag
