#header-bg
  .container
    #header.sixteen.columns.alpha.omega
      %header
        .twelve.columns.alpha.omega
          %nav
            %ul
              %li= link_to 'Mural', '#mural'
              %li= link_to_current t('label.company.plural'), companies_path
              %li= link_to_current t('label.order.plural'), orders_path
              %li= link_to 'Assistências', '#assistencias'
              %li= link_to_current t('label.client.plural'), clients_path
              %li= link_to_current t('label.product.plural'), products_path
        #search.four.columns.alpha.omega
          %form
            %input{:type => :search, :placeholder => t('label.search')}
