!!!
%html
  %head
    %title= Rep
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:'http-equiv' => 'Content-type', :content => 'text/html;charset=UTF-8' }
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;'}
    %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
    %meta{:name => 'apple-mobile-web-app-status-bar-style', :content => 'black'}

    %script{:type => 'text/javascript'}
      = "I18n.defaultLocale = '#{I18n.default_locale}'"
      = "I18n.locale = '#{I18n.locale}'"

  %body
    = render 'layouts/auth_bar'
    = render 'layouts/header'
    = render 'layouts/flash_messages'

    #content-bg
      .container
        #content.sixteen.columns.alpha.omega
          = yield
