!!!
%html
  %head
    %title= Rep
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/auth_bar'
    = render 'layouts/header'
    = render 'layouts/flash_messages'

    #content-bg
      .container
        #content.sixteen.columns.alpha.omega
          =yield
